

/* ############################################################################# */
* {
    margin: 0;
    padding: 0;
}
:root {
    --text-multiplier: 1;
    --icon-multiplier: 2;

    --black: #000;
    --white: #ffffff;
    --background: #0B111E;
}
body {
    background-color: grey;
}
/* ############################################################################# */
/* ############################################################################# */
.imgBase {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#logoNavBarre {
    width: 50px;
    height: 50px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/408/408036.png");
}

/* ############################################################################# */
/* Code pour le css computer */
/* ############################################################################# */

.texte-blue {
    color: blue;
}



/* ############################################################################# */
/* ############################################################################# */


/* Code pour le css phone */
@media screen and (max-width: 571px) {

    .texte-blue {
        color: green;
    }

}
/* ############################################################################# */
/* ############################################################################# */
/* ############################################################################# */
/* ############################################################################# */